@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body {background: #FFCD02}
body {
  background-color: #FFCD02;
  font-family: 'roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
box-sizing: border-box;
}
logo{
	max-width: 150px;
}
h1, h2, h3, h4 p {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
p{
	font-size: 1.15em; 
	font-weight: 400em
}
img {
  width: 100%;
}
a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #6C6A6A;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #000000;
}
a:active { /* selected link */
  color: #86438f;
}
a:hover,
a:focus {
  color: #6c6a6a;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
}
.container {
  padding: 0 15px;
}
header {
  background-color: #FFCD02;
   text-align: center;
  padding: 10px 0;
  margin: 10px;
	position: relative;
}

.slider{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
		
}
.grid{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
}
.commission{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a; 
}

.commmission picture{
	display: block;
	margin: 0 5px;
}

.contact{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
}
.social{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
	text-align: center;
}
.social a{
	display: inline-block;
	margin: 0 5px;
}
.social svg{
	width: 50px;
	hight: auto; 
}
.copyright{
padding: 0 10px;
  margin: 10px;
}
.email{
padding: 0 10px;
  margin: 10px;
}
.intro{
padding-top: 5px;	
}
.logo{
	max-width: 200px;
	box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
	display: inline-block;
}
nav > ol {
  list-style-type: none;
  padding: 0;
}
nav > ol > li {
  display: inline-block;
}
nav > ol > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
#hero {
  background-color: #FFCD02;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.blue{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
svg{
	width: 100%;
max-width: 100%;
height: auto;
}
@keyframes color-change {
  from {fill: #434259;}
  to {fill: #f76414;}
}
.wing1{
	animation-duration: 2s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.wing2{
	animation-duration: 2s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.left {
  width: calc(60% - (.5em + 6px));
  float: left;
  min-height: 400px;
  margin-top: 1em;
}
.right {
  width: calc(40% - (.5em + 6px));
  float: right;
  min-height: 400px;
  margin-top: 1em;
}


@keyframes movement {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
	header {
    text-align: unset;
    padding: 30px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 8px;
  }
	#hero{
	text-align: center;
	}
	#hero span {
  display: block;
}
	.col-md-6 {
  width: 50%;
}
	[class*="col-"] {
  float: left;
  padding: 15px;
}
	.row{
		margin: 0 -10px;
	}
	.row::after {
  content: "";
  clear: both;
  display: table;
}
		logo{
	max-width: 500px;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
	.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#main {
  display: block;	
}
	h4 {
  font-size: 1.65em;
  font-weight: 400;
}
p{
	font-size: 1.25em; 
	font-weight: 400em
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

