@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body {background: #FFCD02}
body {
  background-color: #FFCD02;
  font-family: 'roboto', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
box-sizing: border-box;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}
a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #6C6A6A;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #000000;
}
a:active { /* selected link */
  color: #86438f;
}
a:hover,
a:focus {
  color: #6c6a6a;
  text-decoration: underline;
}
.button {
  background-color: transparent;
  color: #86438f;
  text-transform: uppercase;
  border: 2px solid #86438f;
	padding: 10px 20px;
	display: inline-block;
}
.button:hover {
  background-color: #ff7f50;
  color: #ffffff;
	text-decoration: none;
}
.container {
  padding: 0 15px;
}
header {
  background-color: #FFCD02;
   text-align: center;
  padding: 10px 0;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
	position: relative;
}

.slider{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
		
}
.grid{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
}
.commission{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
}

.contact{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
}
.social{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
}
.copyright{
padding: 0 10px;
  margin: 10px;
}
.email{
padding: 0 10px;
  margin: 10px;
}
.logo{
	max-width: 250px;
	box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
}
nav > ol {
  list-style-type: none;
  padding: 0;
}
nav > ol > li {
  display: inline-block;
}
nav > ol > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
#hero {
  background-color: #FFCD02;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
.blue{
padding: 0 10px;
  margin: 10px;
	border-bottom: 3px solid #4a4a4a;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}



